.App {
	text-align: center;
}

.App::after {
	content: '';
	position: fixed;
	top: 85px;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("https://wallpaperplay.com/walls/full/8/4/c/20628.jpg");
	background-position: center;
	background-size: cover;
	z-index: -2;
}

.App::before {
	content: '';
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(rgba(80,80,80,0.3), rgba(40,40,40,0.6));
	background-position: center;
	background-size: cover;
	z-index: -1;
}

/* Custom Styling */


/* Header */
header {
	/* border: 2px solid green; */
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	background-color: #003432;
}

.headerContent {
	/* border: 2px solid purple; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}

.headerContent h1 {
	color: white;
}


/* =============================================== */
/* ================ Amiibo Card ================== */
/* Amiibos main display */
.amiibo-container {
	/* border: 2px solid red; */
	min-height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 100px;
}


/* Individual Amiibo */
.card{ 
	/* border: 2px solid orange; */
	border-radius: 10px;
	padding-top: 15px;
	width:30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	color: white;
	background: rgba(0,52,50, 0.7)
}

/* Container around amiibo image */
.amiiboImage-container{
	/* border: 2px solid purple; */
	display: flex;
	justify-content: center;
}

/* Amiibo Image */
.amiiboImage-container img {
	max-width: 100%;
	object-fit: contain;
}

@media(max-width: 500px) {
	.card{
		width: 100%
	}
}
